<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><img
                src=""
                alt=""
                id="coin-img"
                height="40"
                width="auto
            "
            /></span>
            <input
              type="number"
              class="form-control"
              placeholder="Crypto Value"
              aria-label="cryptocoin"
              aria-describedby="basic-addon1"
              min="0"
              step=".0001"
              id="entered-coins"
              onkeyup="calculateFiat()"
            />
          </div>
          <!-- <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"
              ><img
                src="images/rupee.jpg"
                alt=""
                id=""
                height="40"
                width="auto
            "
            /></span>
            <input
              type="number"
              class="form-control"
              placeholder="Fiat Value"
              aria-label="fiatcoin"
              min="0"
              step=".0001"
              id="entered-fiat"
              onkeyup="calculateCrypto()"
            />
          </div> -->
          <p
            id="error"
            style="color: crimson; display: none"
            class="h6 text-center"
          >
            Please enter a valid value
          </p>
          <!-- <h3 class="text-center">
          &#x20b9;<span id="total-value">0</span>
        </h3> -->
          <h4 style="display: none" id="bs-coin-name"></h4>
          <p style="font-size: small; display: block">
            *The above value is subjected to change depending on market value
          </p>
          <div class="container d-flex justify-content-around">
            <button class="btn btn-success" style="width: 25%">BUY</button>
            <button class="btn btn-danger" style="width: 25%">SELL</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </div> -->
    </div>
  </div>
</div>

<div style="background-color: #1f2d53">
  <!-- <div class="container row justify-content-around" style="padding: 5vh auto">
    <div class="input-group col-sm-8" style="padding: 5vh auto; width: 60%">
      <input
        type="text"
        class="form-control"
        placeholder="Search Coin"
        aria-label="Search"
        aria-describedby="basic-addon2"
        onkeyup="searchCoin()"
        id="coin-input"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div> -->
  <app-coin></app-coin>
</div>
