<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">CryptoBAGS</label>
  <ul>
    <li>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >Home
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li><a routerLinkActive="active" [routerLink]="['/coins']">Coins</a></li>
    <!-- <li>
      <a routerLinkActive="active" routerLink="/coins">Buy/Sell</a>
    </li> -->
    <li>
      <a routerLinkActive="active" [routerLink]="['/login']">Log IN</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
